.details__highlight {
    color: #ff79c6;
    font-size: 1.1rem;
    font-weight: bold;
}

.details__long {
    color: #f1fa8c;
}

.entry__container {
    border: 0.2rem solid #282a36;
    border-radius: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    padding: 0.5rem;
    width: 50%;
}

.entry__details {
    text-align: center;
}

.entry__icon {
    font-size: 1rem;
    margin: 0 0.5rem;
    cursor: pointer;
}

.entry__icon:hover {
    transform: scale(1.2);
}

.entry__icon-copy {
    color: #ff79c6; 
}

.entry__icon-delete {
    color: #ff5555;
}

.entry__icon-open {
    color: #50fa7b; 
}

.entry__icon-details {
    color: #f1fa8c; 
}

.entry__summary {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
}

.list__container {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 1rem;
    width: 100%;
}

.summary__highlight {
    color: #ffb86c;
    font-size: 1.2rem;
    font-weight: bolder;
}

.summary__url {
    color: #8be9fd;
}

.summary__pico, .summary__long {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
}
